h1{
    color:lightyellow;
}
h2{
    color:lightyellow;
}

.header{
    background-color: black;
    justify-content: space-between;
}

.site-description{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.footer{
    display:flex;
    justify-content: flex-end;
}